body {
  background-color: tan;
}
h1 {
  font-family: verdana, arial, sans-serif;
  color: white;
  font-size: 70px;
  text-align: center;
  padding: 60px;
  background: black;
}
h2 {
  font-family: verdana, arial, sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  background: black;
}
 p1 {
 font-family: verdana, arial; sans-serif;
 font-size: 20px;
 text-align: center;
 color: black;
 div class: w3-container;
}
 p2 {
 font-family: verdana, arial, sans-serif;
 font-size: 20px;
 text-align: center;
 color: black;
 div class: w3-container
}
 nav {
  text-align: center;
}
 content {
  padding: 20px;
  div-class: w3-container;
}
 p { 
  font-family: verdana, arial; sans-serif;
 font-size: 20px;
 text-align: center;
 color: black;
 div class: w3-container;
}
 footer {
 font-family: verdana, arial, sans-serif;
 font-size: 18px;
 text-align: center;
 color: white;
}
 H1 {
  font-family: verdana, arial; sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  div class: w3-container;
}